* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    outline: none;
    font-family: "Segoe UI", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

body {
    min-height: 100vh;
    background: rgb(235, 244, 242);

    h1 {
        color: salmon;
        margin: 20px auto;
    }

    form input {
        background: white;
        padding: 6px 20px;
        border-radius: 5px;
        height: 30px;
        margin: 10px 0 5px;
        width: 270px;
        font-size: 1rem;
        text-align: left;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.054);            border: 1px solid salmon;
        transition: 0.2s;

        &:focus {
            border: 1px dashed salmon;
        }
    }

    .no-results-error {
        text-align: center;
        margin: 0 auto;
    }
}